:root {
  --basic-white: #ffffff;
  --basic-extra-dark: #323232;
  --basic-dark: #5a5a5a;
  --background-green: #849d8f;
  --background-green-light:rgba(215, 242, 227, 0.75);
  --background-blue: #8996a6;
  --background-blue-light: rgba(218, 228, 239, 0.75);
  --background-brown: #9d8b84;
  --background-brown-light: rgba(239, 224, 218, 0.75);
  --background-pattern: #ede0c0;
  --background-extra-light: #fefefe;
  --background-compo: #a9bbb1;
  --background-dark: #520715;
  --form-light-grey: #f8f7f4;
  --form-grey: #cacac7;
  --form-dark-grey: #c4c4c4;
  --drop-light-red: #fbdEd7;
  --drop-middle-red: #f6b5a5;
  --drop-dark-red:  #d07058;
  --link-light-red: #ffbc9e;
  --link-transp-light: rgba(255, 188, 158, 0.3);
  --link-dark-red: #e84d37;
  --link-transp-dark: rgba(232, 77, 55, 0.3);
  --link-transp-extra-dark: rgba(50, 50, 50, 0.3);
  --menu-grey: #ededed;
  --input-grey: #999999;
  --input-light-grey: #d3d3d2;
  --background-red: #ec583c;
  --background-light-red: #f17863;
  --background-dark-red: #dc5338;
  --border-grey: rgba(178, 178, 178, 0.52);
  --border-blue: rgba(46, 136, 228, 0.52);
  --shadow-grey: #696969;
  --shadow-light-grey: #ababab;
  --button-red: #F26843;
  --button-dark-red: #E74A35;
  --shadow-transp-red: rgba(172, 16, 0, 0.64);
  --shadow-transp-dark-red: rgba(85, 8, 0, 0.54);
  --shadow-transp-red-text: rgba(160, 32, 11, 0.76);
  --shadow-red: #ac1000;
  --shadow-dark-red: #942718;
  --shadow-transp-grey: rgba(49, 50, 53, 0.5);
  --range-transp: rgba(248, 247, 244, 0.5);
  --white-02: rgba(255, 255, 255, 0.2);
  --white-03: rgba(255, 255, 255, 0.3);
  --white-04: rgba(255, 255, 255, 0.4);
  --white-05: rgba(255, 255, 255, 0.5);
  --white-07: rgba(255, 255, 255, 0.7);
  --white-08: rgba(255, 255, 255, 0.8);
  --black-007: rgba(0, 0, 0, 0.07);
  --black-02: rgba(0, 0, 0, 0.2);
  --black-03: rgba(0, 0, 0, 0.3);
  --black-04: rgba(0, 0, 0, 0.4);

  --layout-gap: 26px;
}
html {
  height: 100%;
}
.page-body {
  min-height: 100%;
  min-width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--basic-white);
  background-color: var(--background-green);
}
.page1 {
  background-color: var(--background-green);
}
.page2 {
  background-color: var(--background-blue);
}
.page3 {
  background-color: var(--background-brown);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1146px;
  margin: 0 auto;
}
.page-header {
  margin-bottom: -25px;
}
.page-header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
}
.main-nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-nav__logo {
  width: 154px;
  height: 64px;
  margin-right: 8px;
}
.main-menu {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.main-menu__item {
  margin: 0;
  padding: 0;
  position: relative;
  border: 3px solid transparent;
  border-bottom: 10px solid transparent;
}
.main-menu__item>a {
  display: inline-block;
  padding: 6px 14px 7px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-decoration: underline;
  text-decoration-color: var(--white-03);
  border-radius: 26px;
}
.main-menu__item--current>a {
  color: var(--basic-white);
  background-color: var(--drop-dark-red);
  box-shadow: none;
}
.main-menu__item>a:hover,
.main-menu__item>a:focus,
.main-menu__item>a:active {
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}
.main-menu__item>a:active {
  background-color: var(--menu-grey);
  box-shadow: inset 0px 2px 1px var(--shadow-grey);
}

/* Выпадающее меню */

.dropdown {
  position: absolute;
  top: 100%;
  left: -7px;
  z-index: 5;
  display: none;
  min-width: 143px;
  list-style: none;
  margin: 0;
  margin-top: 9px;
  padding: 0;
  background-color: var(--basic-white);
  border-radius: 4px;
  box-shadow: 0px 20px 20px var(--black-04);
}
.main-menu > li:hover .dropdown,
.main-menu > li:focus .dropdown {
  display: block;
}
.dropdown__item a {
  display: block;
  padding: 10px 21px 10px 20px;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: var(--basic-extra-dark);
}
.dropdown__item .accent {
  position: relative;
  font-weight: bold;
  padding-bottom: 15px;
}
.dropdown__item .accent::after {
  content: "";
  position: absolute;
  width: 128px;
  height: 1px;
  top: 40px;
  left: 7px;
  background-color: var(--link-transp-extra-dark);
}
.dropdown__item .dropdown__item--current {
  background-color: var(--drop-dark-red);
  color: var(--basic-white);
}
.dropdown__item a:hover:not(.dropdown__item--current),
.dropdown__item a:focus:not(.dropdown__item--current) {
  background-color: var(--drop-light-red);
}
.dropdown__item a:active:not(.dropdown__item--current) {
  background-color: var(--drop-middle-red);
}
.dropdown__item:nth-of-type(1) a:hover,
.dropdown__item:nth-of-type(1) a:focus,
.dropdown__item:nth-of-type(1) a:active {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.dropdown__item:last-of-type a:hover,
.dropdown__item:last-of-type a:focus,
.dropdown__item:last-of-type a:active {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Пользовательская навигация справа */

.usernav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.usernav__item {
  position: relative;
  border: 5px solid transparent;
  border-bottom: 10px solid transparent;
}
.usernav__item:last-child {
  border-right: none;
}
.usernav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px 6px;
  color: var(--basic-white);
  background-color: var(--white-02);
  border-radius: 20px;
}
.usernav__btn.search-btn {
  padding: 8px;
}
.usernav__btn span {
  margin-left: 8px;
}
.usernav__btn:not(.full) path {
  fill: var(--basic-white);
}
.usernav__btn:hover,
.usernav__btn:focus,
.usernav__btn:active {
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}
.usernav__btn:not(.full):hover path,
.usernav__btn:not(.full):focus path,
.usernav__btn:not(.full):active path {
  fill: var(--basic-extra-dark);
}
.usernav__btn:not(.full):hover circle,
.usernav__btn:not(.full):focus circle,
.usernav__btn:not(.full):active circle {
  fill: var(--basic-extra-dark);
}
.usernav__btn.full {
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}
/* Перекраска корзины? Как перекрашивать красное??? */
/* .usernav__btn.full path {
  fill: var(--basic-extra-dark);
}
.usernav__btn.full circle {
  fill: var(--basic-extra-dark);
} */
.usernav__item .full:hover,
.usernav__item .full:focus,
.usernav__item .full:active {
  color: var(--link-dark-red);
}
.usernav .search,
.usernav .entry,
.usernav .cart {
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 15;
  display: none;
  box-sizing: border-box;
  background-color: var(--form-light-grey);
  border-radius: 4px;
  box-shadow: 0px 20px 20px var(--black-04);
}
.usernav__item:hover form,
.usernav__item:hover section,
.usernav__item form:hover,
.usernav__item section:hover,
.usernav__item:focus form,
.usernav__item:focus section,
.usernav__item form:focus,
.usernav__item section:focus,
.usernav__item:active form,
.usernav__item:active section,
.usernav__item form:active,
.usernav__item section:active {
  display: block;
}

/* Стили для инпутов */

.input, .select, .textarea {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  border: 1px solid var(--input-light-grey);
  border-radius: 4px;
}
.input {
  height: 44px;
  padding: 16px 14px 14px 13px;
  background-color: var(--basic-white);
  color: var(--basic-extra-dark);
}
.select {
  width: 196px;
  height: 36px;
  padding-left: 16px;
  color: var(--basic-white);
  border: none;
  border-radius: 20px;
  background-color: var(--background-compo);
}
.input::placeholder {
  font-weight: normal;
  color: var(--input-grey);
}
.input:hover,
.textarea:hover {
  border: 2px solid var(--border-grey);
}
.input:focus,
.textarea:focus {
  border: 2px solid var(--border-blue);
}
/* Форма поиска */

.usernav .search {
  width: 341px;
  height: auto;
  right: -8px;
  padding: 20px 15px;
  color: var(--basic-extra-dark);
}
.search .input {
  width: 311px;
}

/* Форма входа */

.usernav .entry {
  width: 277px;
  height: 214px;
  padding: 20px 17px 22px 19px;
}
.entry__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.entry-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.entry-section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.entry .input {
  width: 241px;
}
.entry p{
  margin: 0;
  padding: 0;
}
.entry a {
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  color: var(--basic-extra-dark);
  text-decoration: underline;
  text-decoration-color: var(--link-transp-extra-dark);
}
.entry .button {
  box-sizing: border-box;
  width: 103px;
  height: 44px;
  border: none;
}

/* Информация на хедере справа */

.info {
  margin-top: -2px;
  text-align: right;
}
.info__time {
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  vertical-align: bottom;
}
.info__tel {
  color: var(--basic-white);
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  vertical-align: bottom;
}

/* Общие стили для кнопок */

button[type="button"] {
  cursor: pointer;
}
.button{
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding: 12px 22px 12px 22px;
  color: var(--basic-white);
  background-color: var(--background-red);
  background-image: linear-gradient(180deg, var(--button-red) 0%, var(--button-dark-red) 100%);
  box-shadow: 0px 2px 2px var(--shadow-transp-dark-red);
  border-radius: 27px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--background-light-red);
  background-image: linear-gradient(0deg, var(--white-02), var(--white-02)), linear-gradient(180deg, var(--button-red) 0%, var(--button-dark-red) 100%);
  box-shadow: 0px 1px 2px var(--shadow-red);
}
.button:active {
  background-color: var(--background-dark-red);
  background-image: linear-gradient(0deg, var(--black-007), var(--black-007)), linear-gradient(180deg, var(--button-red) 0%, var(--button-dark-red) 100%);
  box-shadow: inset 0px 2px 2px var(--shadow-dark-red);
}

/* Слайдер */

.slider-section {
  padding-top: 1px;
}
.slider {
  list-style: none;
  margin: 0;
  margin-top: -17px;
  padding: 0;
}
.slider__slide {
  display: none;
}
.slider__slide--current {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider__slide::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  width: 716px;
  height: 716px;
  border-radius: 50%;
  filter: blur(250px);
 }
.slide1::before {
  background: var(--background-green-light);
}
.slide2::before {
  background: var(--background-blue-light);
}
.slide3::before {
  background: var(--background-brown-light);
}
.slider__image {
  order: -1;
}
.slider__slogan {
  margin-top: -269px;
  margin-bottom: 26px;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
}
.slider__button {
  padding: 10px 40px 10px 40px;
  border-radius: 70px;
  font-size: 32px;
  text-shadow: 0px 2px 5px var(--shadow-transp-red-text);
  font-weight: bold;
  line-height: 44px;
  box-shadow: 0px 2px 2px var(--shadow-transp-red);
}
.slider__button:hover,
.slider__button:focus {
  box-shadow: 0px 2px 2px var(--shadow-red);
}
.slider__button:active {
  box-shadow: inset 0px 2px 2px var(--shadow-dark-red);
}
.slider-section__block {
  margin-top: -49px;
  margin-bottom: 64px;
}
.slider-section__ctrl {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid var(--basic-white);
}
.slider-section__ctrl.slider-section__ctrl--current {
  background-color: var(--basic-white);
}
.slider-section__ctrl:not(.slider-section__ctrl--current):hover,
.slider-section__ctrl:not(.slider-section__ctrl--current):focus,
.slider-section__ctrl:not(.slider-section__ctrl--current):active {
  background-color: var(--white-04);
}

/* Банеры */

.banners__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--layout-gap)
}
.banners__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 22px 22px 16px;
  background-color: var(--background-dark);
  border-radius: 16px;
}
.banners__item.item1 {
  background-image: url("../img/berry.jpg");
  background-size: cover;
  background-position: center;
}
.banners__item.item2 {
  background-image: url("../img/chocko.jpg");
  background-size: cover;
  background-position: center;
}
.banners__item h3 {
  margin: 0;
}
.banners__item .button {
  margin-top: 25px;
  align-self: flex-end;
}
.banners__item h3 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}
.banners__item p {
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

/* Товары (хиты) */

.goods-list {
  list-style: none;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--layout-gap);
}
.goods {
  position: relative;
  padding: 6px 13px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  border-radius: 4px;
  margin-bottom: -50px;
  margin-left: -13px;
  margin-right: -13px;
}
.goods.hit::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 13px;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: var(--basic-white);
  background-image: url("../img/hit.svg");
  background-position: center;
}
.goods__image {
  width: 267px;
  height: 267px;
  margin-bottom: -58px;
  border-radius: 50%;
}
.goods__name {
  margin: 0;
  text-align: center;
  margin-bottom: 13px;
  margin-top: -2px;
  padding-left: 5px;
  padding-right: 5px;
}
a>.goods__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--basic-white);
  text-decoration: underline;
  text-decoration-color: var(--white-03);
}
.goods__price {
  margin: 0;
  margin-bottom: 25px;
  align-self: flex-start;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-shadow: 0px 1px 3px var(--shadow-transp-grey);
  z-index: 3;
}
.goods__price .kg {
  font-size: 30px;
  line-height: 35px;
}
.goods__button {
  margin-bottom: 15px;
  display: inline-block;
  visibility: hidden;
  order: -1;
}
.goods:hover,
.goods:focus {
  background-color: var(--white-02);
  box-shadow: 0px 20px 20px var(--black-02);
  z-index: 5;
}
.goods:hover .goods__button,
.goods:focus .goods__button {
  visibility: visible;
}

/* Преимущества */

.features,
.blog,
.subscription {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: var(--basic-extra-dark);
}
.features {
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 24px 20px 9px;
  background-image: url("../img/pattern.jpg");
  background-color: var(--background-pattern);
  background-repeat: repeat;
  border-radius: 16px;
}
.features__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  margin-bottom: 16px;
}
.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--layout-gap);
}
.features__item {
  position: relative;
  margin: 0 5px 22px 56px;
}
.features__item::before {
  position: absolute;
  left: -56px;
  top: -9px;
  content: "";
  width: 46px;
  height: 46px;
  border: 2px solid var(--basic-extra-dark);
  border-radius: 50%;
  background-position: center;
}
.features__item.ice::before {
  background-image: url("../img/ice-cream.svg");
  background-size: 45px;
}
.features__item.cow::before {
  background-image: url("../img/cow.svg");
  background-size: 37px;
}
.features__item.leaf::before {
  background-image: url("../img/eco.svg");
  background-size: 39px;
}
.features__item.thermo::before {
  background-image: url("../img/thermometer.svg");
  background-size: 40px;
}

/* Блог */

.blog-subscr-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--layout-gap);
  margin-bottom: 40px;
}
.blog {
  font-weight: 500;
  padding: 18px 250px 35px 20px;
  border-radius: 16px;
  background-color: var(--basic-white);
  background-image: url("../img/blog.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
}
.blog__label {
  margin: 0;
}
.blog__title {
  margin: 0;
  margin-top: 3px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: var(--basic-extra-dark);
  text-decoration: underline;
}

/* Форма подписки */

.subscr-section {
  background-image: url("../img/bg-post.svg");
  padding: 5px 6px;
  border-radius: 16px;
}
.subscription {
  margin: 0;
  padding: 22px 20px 35px 20px;
  color: var(--basic-dark);
  background-color: var(--form-light-grey);
  border: 1px solid transparent;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.subscription__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.subscription p{
  margin: 0;
  margin-bottom: 42px;
}
.subscription__button {
  margin: 0;
  padding-top: 10px;
  padding-left: 19px;
  padding-right: 19px;
  border: none;
  height: 44px;
}
.subscription__input {
  width: 368px;
}

/* Карта */

.map {
  background-color: var(--background-pattern);
  position: relative;
  font-size: 0;
  margin-bottom: 18px;
}
.map img {
  width: 100%;
}
.contacts {
  position: absolute;
  box-sizing: border-box;
  width: 303px;
  height: 306px;
  top: 60px;
  left: 50%;
  transform: translateX(89%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 25px 31px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: var(--basic-extra-dark);
  background-color: var(--background-extra-light);
  border-radius: 16px;
}
.contacts p {
  margin: 1px;
}
.contacts__address,
.contacts__tel {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: var(--basic-extra-dark);
}
.contacts__button {
  align-self: center;
  padding: 10px 28px 9px 28px;
}

/* Подвал */

.link{
  color: var(--basic-white);
  text-decoration: underline;
  text-decoration-color: var(--white-03);
}
.link:hover,
.link:focus,
.link:active {
  color: var(--link-light-red);
  text-decoration-color: var(--link-transp-light);
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
.social,
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social {
  display: flex;
  justify-content: center;
}
.social__item {
  padding-top: 4px;
  padding-right: 9px;
}
.social__item a {
  display: block;
  line-height: 0;
  border-radius: 50%;
  border: 2px solid var(--white-05);
}
.social__item a path {
  fill: var(--white-08);
}
.social__item a path:hover,
.social__item a path:focus,
.social__item a path:active {
  fill: var(--basic-white);
}
.footer-menu {
  display: grid;
  grid-template-columns: minmax(140px, auto) minmax(140px, auto);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  margin-left: 16px;
  padding-top: 7px;
}
.footer-menu__item {
  position: relative;
}
.footer-menu .provider::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -21px;
  width: 15px;
  height: 13px;
  background-image: url(../img/heart.svg);
}
.develop p {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
}
.accent {
  font-weight: bold;
}

/* Страница каталога */

.catalog-body {
  background-image:  linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);;
  background-size: 100% 656px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.catalog-title {
  margin: 0;
  padding: 0;
  margin-top:  2px;
  margin-bottom: 26px;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

/* Корзина */

.usernav .cart {
  margin-top: -4px;
  width: 539px;
  height: auto;
  padding: 14px 14px 21px 19px;
  color: var(--basic-extra-dark);
}
.cart .crt {
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  border-collapse: collapse;
  border-bottom: 1px solid var(--form-grey)
}
.crt td {
  vertical-align: baseline;
  padding-top: 16px;
  padding-bottom: 18px;
}

/* Кнопка удаления товара */

.delete-good {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  width: 11px;
  height: 11px;
  border: none;
  background-color: var(--form-light-grey);
}
.delete-good::before,
.delete-good::after {
  content: "";
  position: absolute;
  left: -50%;
  width: 15px;
  height: 1px;
  background-color: var(--basic-extra-dark);
}
.delete-good::before {
  transform: rotate(45deg);
}
.delete-good::after {
  transform: rotate(-45deg);
}

/* Ячейки таблицы корзины */

.crt .crt__button {
  width: 11px;
  padding-right: 5px;
  padding-left: 6px;
  padding-top: 10px;
  vertical-align: top;
}
.crt .crt__img {
  width: 35px;
  padding-right: 0;
  padding-left: 0;
  padding-top: 6px;
  padding-bottom: 2px;
  vertical-align: top;
}
.crt__img img {
  border-radius: 50%;
}
.crt__name {
  width: 238px;
  padding-right: 10px;
  padding-left: 14px;
}
.crt__amount {
  width: 50px;
  padding-left: 3px;
  text-align: right;
}
.crt__price {
  width: 55px;
  padding-right: 8px;
  padding-left: 5px;
  text-align: right;
  color: var(--form-dark-grey);
}
.crt__sum {
  width: 59px;
  padding-right: 20px;
  padding-left: 8px;
  text-align: right;
}
.cart .total {
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;
  position: relative;
  text-align: right;
}
.cart .button {
  float: right;
  padding: 10px 15px;
}

/* Хлебные крошки */

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
}
.breadcrumbs .disabled:hover,
.breadcrumbs .disabled:focus {
  color: var(--basic-white);
}
.breadcrumbs__item {
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 22px;
}
.breadcrumbs__item:not(:nth-child(1))::before {
  content: "\00BB";
  position: absolute;
  left: -13px;
  font-weight: bold;
  color: var(--basic-white)
}

/* Фильтры */

.filter {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  /* align-items: stretch; */
  align-content: stretch;
}
.filter fieldset {
  height: 57px;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  padding-top: 20px;
  margin-bottom: 10px;
}
legend.filter__subtitle {
  margin: 0;
  margin-bottom: -10px;
  margin-left: 16px;
}
.filter__subtitle {
  margin: 0;
  margin-bottom: 8px;
  margin-left: 16px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.filter__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 15px;
  margin-bottom: 10px;
}
ul.fieldset-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: var(--background-compo);
  border-radius: 20px;
}
.fieldset-wrapper li {
  margin: 0;
  padding: 0;
}
.fieldset-wrapper li:last-child>label {
  margin-right: 18px;
}
.fieldset-wrapper.fat {
  padding-top: 7px;
  padding-bottom: 7px;
}
.fieldset-wrapper.fill {
  padding-top: 8px;
  padding-bottom: 8px;
}
.fat input,
.fill input {
  box-sizing: border-box;
  margin: 0;
  margin-right: 15px;
  margin-left: 12px;
  height: 21px;
  width: 21px;
}
.range__controls {
  position: relative;
  box-sizing: border-box;
  width: 218px;
  height: 36px;
  margin: 0;
  padding: 17px 21px;
  background-color: var(--background-compo);
  border: none;
  border-radius: 20px;
}
.range__controls .scale {
  width: 176px;
  height: 2px;
  background-color: var(--range-transp);
}
.range__controls .progress {
  width: 60%;
  height: 2px;
  margin-left: 10%;
  background-color: var(--form-light-grey);
}
.range__btn {
  position: absolute;
  display: inline-block;
  width: 4px;
  height: 4px;
  top: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--shadow-light-grey);
  box-shadow: 0 2px 0 0 var(--shadow-light-grey);
  cursor: pointer;
}
.range__btn.range-btn--min {
  left: 35px;
}
.range__btn.range-btn--max {
  left: 132px;
}
.filter-btn {
  justify-content: flex-end;
  margin-bottom: 0;
}
.filter__button {
  box-sizing: border-box;
  width: 144px;
  height: 36px;
  font: inherit;
  color: var(--basic-white);
  background-color: var(--background-compo);
  padding-left: 29px;
  border-radius: 20px;
  border: 2px solid var(--basic-white);
}

/* Пагинация */

.paginator {
  margin: 45px 0 17px;
  padding-bottom: 33px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--white-02);
}
.paginator__arrow {
  display: block;
  width: 9px;
  height: 9px;
  border-bottom: 2px solid var(--basic-white);
  border-right: 2px solid var(--basic-white);
  transform: rotate(-45deg);
  background-image: url("../img/icon-right-white.svg");
}
.paginator__arrow.back {
  transform: rotate(135deg);
  margin-right: -5px;
}
.paginator__arrow.disabled {
  background-image: url("../img/icon-right-small.svg");
  border-color: var(--background-compo);
}
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin: 0 15px 0 10px;
}
.pagination__item {
  margin: 0;
  margin-left: 4px;
  padding: 0;
}
.pagination__item a {
  padding-top: 4px;
  display: block;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  color: var(--basic-white);
  border-radius: 50%;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}
.pagination__item a:hover,
.pagination__item a:focus {
  background-color: var(--white-02);
}
.pagination .active,
.pagination .active:hover,
.pagination .active:focus,
.pagination__item a:active  {
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

/* Модальное окно обратной связи */

.modal-body{
  display: block;
  padding-top: 50px;
}
.modal {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  z-index: 30;
}
.seperate-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-03);
}
.feedback {
  box-sizing: border-box;
  width: 477px;
  height: 441px;
  color: var(--basic-extra-dark);
  background-color: var(--form-light-grey);
  padding: 14px 14px 27px 22px;
  border-radius: 6px;
}
.feedback__btn {
  position: relative;
  width: 18px;
  height: 18px;
  border: none;
  background-color: var(--form-light-grey);
}
.feedback__btn::before,
.feedback__btn::after {
  content: "";
  position: absolute;
  left: -5px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-extra-dark);
}
.feedback__btn::before {
  transform: rotate(45deg);
}
.feedback__btn::after {
  transform: rotate(-45deg);
}
.feedback__wrapper {
  display: flex;
  justify-content:  space-between;
}
.feedback__header {
  margin: 0;
  margin-bottom: 5px;
}
.feedback .input {
  width: 267px;
  margin-bottom: 4px;
}
.feedback .textarea {
  width: 428px;
  height: 154px;
  margin-bottom: 8px;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: var(--input-grey);
}
.feedback .textarea:focus {
  font-weight: bold;
  color: var(--basic-extra-dark);

}
.feedback__button {
  float: right;
  margin-right: 13px;
  padding: 10px 24px;
  border: none;
}

/* Пустая страница-заглушка */

.main-blank {
  display: flex;
  justify-content: center;
}
.main-blank h1 {
  margin: auto;
}
