:root {
  --basic-white: #ffffff;
  --basic-extra-dark: #323232;
  --basic-dark: #5a5a5a;
  --background-green: #849d8f;
  --background-blue: #8996a6;
  --background-brown: #9d8b84;
  --background-pattern: #ede0c0;
  --background-extra-light: #fefefe;
  --background-compo: #a9bbb1;
  --background-dark: #520715;
  --form-light-grey: #f8f7f4;
  --drop-light-red: #fbdEd7;
  --drop-middle-red: #f6b5a5;
  --drop-dark-red:  #d07058;
  --link-light-red: #ffbc9e;
  --link-transp-light: rgba(255, 188, 158, 0.3);
  --link-dark-red: #e84d37;
  --link-transp-dark: rgba(232, 77, 55, 0.3);
  --menu-grey: #ededed;
  --input-grey: #999999;
  --input-light-grey: #d3d3d2;
  --background-red: #ec583c;
  --background-light-red: #f17863;
  --background-dark-red: #dc5338;
  --border-grey: rgba(178, 178, 178, 0.52);
  --border-blue: rgba(46, 136, 228, 0.52);
  --shadow-grey: #696969;
  --button-red: #F26843;
  --button-dark-red: #E74A35;
  --shadow-transp-red: rgba(172, 16, 0, 0.64);
  --shadow-transp-dark-red: rgba(85, 8, 0, 0.54);
  --shadow-transp-red-text: rgba(160, 32, 11, 0.76);
  --shadow-red: #ac1000;
  --shadow-dark-red: #942718;
  --shadow-grey:  rgba(49, 50, 53, 0.5);
  --white-02: rgba(255, 255, 255, 0.2);
  --white-03: rgba(255, 255, 255, 0.3);
  --white-04: rgba(255, 255, 255, 0.4);
  --white-05: rgba(255, 255, 255, 0.5);
  --white-07: rgba(255, 255, 255, 0.7);
  --white-08: rgba(255, 255, 255, 0.8);
  --black-007: rgba(0, 0, 0, 0.07);
  --black-02: rgba(0, 0, 0, 0.2);
  --black-04: rgba(0, 0, 0, 0.4);

  --layout-gap: 26px;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--basic-white);
  background-color: var(--background-green);

    /* background-image: url("../img/Catalog.jpg"); */
   /* background-image: url("../img/Главная_1.jpg"); */
  background-repeat: no-repeat;
  background-position: 160px 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1146px;
  margin: 0 auto;
}
.page-header {
  margin-bottom: -25px;
}
.page-header__menu {
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main-nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-nav__logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
}
.main-menu {
  list-style: none;
  margin: 0;
  margin-top: 13px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.main-menu__item {
  margin: 0;
  margin-right: 5px;
  position: relative;
}
.main-menu__item>a {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  padding: 6px 14px 7px;
  border-radius: 26px;
}
.main-menu__item--current>a {
  color: var(--basic-white);
  background-color: var(--drop-dark-red);
  box-shadow: none;
}
.main-menu__item>a:hover,
.main-menu__item>a:focus,
.main-menu__item>a:active {
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}
.main-menu__item>a:active {
  background-color: var(--menu-grey);
  box-shadow: inset 0px 2px 1px var(--shadow-grey);
}
.dropdown {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 35px;
  left: -5px;
  min-width: 143px;
  background-color: var(--basic-white);
  border-radius: 4px;
  box-shadow: 0px 20px 20px var(--black-04);
}
.dropdown:hover,
.dropdown:focus,
.dropdown:active {
  display: block;
}
.dropdown__item a {
  display: block;
  padding: 10px 21px 10px 20px;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: var(--basic-extra-dark);
}
.dropdown__item .accent {
  font-weight: bold;
}
.dropdown__item .current {
  background-color: var(--drop-dark-red);
  color: var(--basic-white);
}
.dropdown__item a:hover:not(.current),
.dropdown__item a:focus:not(.current) {
  background-color: var(--drop-light-red);
}
.dropdown__item a:active:not(.current) {
  background-color: var(--drop-middle-red);
}
.main-menu__item a:hover+.dropdown {
  display: block;
}
.usernav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.usernav__item {
  margin-left: 10px;
  margin-top: 22px;
}
.usernav__item a {
  padding: 8px 16px 8px 45px;
  color: var(--basic-white);
  background-color: var(--white-02);
  border-radius: 20px;
}
.usernav__item a:hover,
.usernav__item a:focus,
.usernav__item a:active {
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}
.usernav__item .full {
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}
.usernav__item .full:hover,
.usernav__item .full:focus,
.usernav__item .full:active {
  color: var(--link-dark-red);
}
.usernav .search,
.usernav .entry,
.usernav .cart {
  display: none;
}
.info {
  margin-top: -2px;
  text-align: right;
}
.info__time {
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  vertical-align: bottom;
}
.info__tel {
  color: var(--basic-white);
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  vertical-align: bottom;
}
.link{
  color: var(--basic-white);
}
.link:hover,
.link:focus,
.link:active {
  color: var(--link-light-red);
}
.slider-section {
  padding-top: 1px;
}
.slider {
  list-style: none;
  margin: 0;
  margin-top: -17px;
  padding: 0;
}
.slider__slides {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider__image {
  order: -1;
}
 .slider__slogan {
   margin-top: -269px;
   margin-bottom: 26px;
   font-size: 60px;
   font-weight: bold;
   line-height: 60px;
   text-align: center;
 }
.button{
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding: 12px 22px 12px 22px;
  color: var(--basic-white);
  background-color: var(--background-red);
  background-image: linear-gradient(180deg, var(--button-red) 0%, var(--button-dark-red) 100%);
  box-shadow: 0px 2px 2px var(--shadow-transp-dark-red);
  border-radius: 27px;
}
.button:hover,
.button:focus {
  background-color: var(--background-light-red);
  background-image: linear-gradient(0deg, var(--white-02), var(--white-02)), linear-gradient(180deg, var(--button-red) 0%, var(--button-dark-red) 100%);
  box-shadow: 0px 1px 2px var(--shadow-red);
}
.button:active {
  background-color: var(--background-dark-red);
  background-image: linear-gradient(0deg, var(--black-007), var(--black-007)), linear-gradient(180deg, var(--button-red) 0%, var(--button-dark-red) 100%);
  box-shadow: inset 0px 2px 2px var(--shadow-dark-red);
}
.slider__button {
  padding: 10px 40px 10px 40px;
  border-radius: 70px;
  font-size: 32px;
  text-shadow: 0px 2px 5px var(--shadow-transp-red-text);
  font-weight: bold;
  line-height: 44px;
  box-shadow: 0px 2px 2px var(--shadow-transp-red);
}
.slider__button:hover,
.slider__button:focus {
  box-shadow: 0px 2px 2px var(--shadow-red);
}
.slider__button:active {
  box-shadow: inset 0px 2px 2px var(--shadow-dark-red);
}
.slider-section__block {
  margin-top: -49px;
  margin-bottom: 62px;
}
.slider-section__control {
  font-size: 0;
  /* исправить для доступности */
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid var(--basic-white);
}
.slider-section__control.current {
  background-color: var(--basic-white);
}
.slider-section__control:not(.current):hover,
.slider-section__control:not(.current):focus,
.slider-section__control:not(.current):active {
  background-color: var(--white-04);
}
.banners__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--layout-gap)
}
.banners__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 22px 22px 16px;
  background-color: var(--background-dark);
  border-radius: 16px;
}
.banners__item h3 {
  margin: 0;
}
.banners__item .button {
  margin-top: 25px;
  align-self: flex-end;
}
.banners__item h3 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}
.banners__item p {
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}
.goods-list {
  list-style: none;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--layout-gap);
}
.goods {
  padding: 6px 13px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  border-radius: 4px;
  margin-bottom: -40px;
  margin-left: -13px;
  margin-right: -13px;
}
.goods__image {
  width: 267px;
  height: 267px;
  margin-bottom: -57px;
  border-radius: 50%;
}
.goods__name {
  margin: 0;
  text-align: center;
  margin-bottom: 11px;
}
a>.goods__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--basic-white);
}
.goods__price {
  margin: 0;
  margin-bottom: 25px;
  align-self: flex-start;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-shadow: 0px 1px 3px var(--shadow-grey);
  z-index: 5;
}
.goods__price .kg {
  font-size: 30px;
  line-height: 35px;
}
.goods__button {
  margin-bottom: 15px;
  display: inline-block;
  visibility: hidden;
  order: -1;
}
.goods:hover,
.goods:focus {
  background-color: var(--white-02);
  box-shadow: 0px 20px 20px var(--black-02);
  z-index: 5;
}
.goods:hover .goods__button,
.goods:focus .goods__button {
  visibility: visible;
}
.features,
.blog,
.subscription {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: var(--basic-extra-dark);
}
.features {
  margin-bottom: 40px;
  padding: 24px 20px 9px;
  /* background-image: url("../img/pattern.jpg"); */
  background-color: var(--background-pattern);
  background-repeat: repeat;
  border-radius: 16px;
}
.features__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  margin-bottom: 16px;
}
.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--layout-gap);
}
.features__item {
  margin: 0 5px 22px 56px; /* 50 иконка и 6 справа от нее */
}
.blog-subscr-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--layout-gap);
  margin-bottom: 40px;
}
.blog {
  font-weight: 500;
  padding: 18px 250px 35px 20px;
  border-radius: 16px;
  background-color: var(--basic-white);
}
.blog__label {
  margin: 0;
}
.blog__title {
  margin: 0;
  margin-top: 3px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: var(--basic-extra-dark);
  text-decoration: underline;
}
.subscr-section {
  background-image: url("../img/bg-post.svg");
  padding: 5px 6px;
  border-radius: 16px;
}
.subscription {
  margin: 0;
  padding: 21px 20px 35px 20px;
  color: var(--basic-dark);
  background-color: var(--form-light-grey);
  border: 1px solid transparent;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.subscription__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.subscription p{
  margin: 0;
  margin-bottom: 42px;
}
.subscription__button {
  margin: 0;
  padding-top: 10px;
  padding-left: 19px;
  padding-right: 19px;
  border: none;
  height: 44px;
}
.subscription__input {
  width: 368px;
}
.map {
  background-color: var(--background-pattern);
  position: relative;
  font-size: 0;
  margin-bottom: 18px;
}
.map img {
  width: 100%;
}
.contacts {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  top: 63px;
  right: 187px;
  box-sizing: border-box;
  width: 303px;
  height: 306px;
  padding: 30px 25px 31px;
  color: var(--basic-extra-dark);
  background-color: var(--background-extra-light);
  border-radius: 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.contacts p {
  margin: 0;
}
.contacts__address,
.contacts__tel {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: var(--basic-extra-dark);
}
.contacts__button {
  align-self: center;
  padding: 11px 28px;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.social,
.footer-menu {
  margin: 0;
  padding: 0;
}
.social {
  display: flex;
}
.footer-menu {
  padding-left: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--layout-gap);
  grid-row-gap: 9px;
  width: 328px;
}
.develop p {
  margin: 0;
}
.catalog-title {
  margin: 0;
  padding: 0;
  margin-top:  2px;
  margin-bottom: 26px;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}
.breadcrumbs {
  list-style: none;
  margin: 0;
  /* margin-top: 22px; */
  padding: 0;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
}
.breadcrumbs .disabled:hover,
.breadcrumbs .disabled:focus {
  color: var(--basic-white);
}
.breadcrumbs__item {
  margin: 0;
  padding: 0;
  margin-right: 22px;
}
.filter {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  /* align-items: stretch; */
  align-content: stretch;
}
.filter fieldset {
  height: 57px;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  padding-top: 20px;
  margin-bottom: 10px;
}
.range__controls {
  border: none;
  background-color: var(--white-02);
  margin: 0;
  padding: 0;
}
legend.filter__subtitle {
  margin: 0;
  margin-bottom: -10px;
  margin-left: 16px;
}
.filter__subtitle {
  margin: 0;
  margin-bottom: 8px;
  margin-left: 16px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.filter__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 15px;
  margin-bottom: 10px;
}
ul.fieldset-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: var(--background-compo);
  border-radius: 20px;
}
.fieldset-wrapper li {
  margin: 0;
  padding: 0;
}
.fieldset-wrapper li:last-child>label {
  margin-right: 18px;
}
.fieldset-wrapper.fat {
  padding-top: 7px;
  padding-bottom: 7px;
}
.fieldset-wrapper.fill {
  padding-top: 8px;
  padding-bottom: 8px;
}
.fat input,
.fill input {
  box-sizing: border-box;
  margin: 0;
  margin-right: 15px;
  margin-left: 12px;
  height: 21px;
  width: 21px;
}
.range__controls {
  width: 218px;
  height: 36px;
  box-sizing: border-box;
  background-color: var(--background-compo);
  border-radius: 20px;
  padding-left: 21px;/* пока так, без полоски */
  padding-right: 21px;
}
.range-btn {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 0;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--basic-white);
}
.filter-btn {
  justify-content: flex-end;
  margin-bottom: 0;
}
.filter__button {
  font: inherit;
  color: var(--basic-white);
  background-color: var(--background-compo);
  box-sizing: border-box;
  width: 144px;
  height: 36px;
  padding-left: 29px;
  border-radius: 20px;
  border: 2px solid var(--basic-white);
}
.input, .select {
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  box-sizing: border-box;
  height: 44px;
}
.input {
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
  border: 1px solid var(--input-light-grey);
  border-radius: 4px;
  padding: 15px;
}
.select {
  border: none;
  color: var(--basic-white);
  background-color: var(--background-compo);
  width: 196px;
  height: 36px;
  padding-left: 16px;
  border-radius: 20px;
}
.input::placeholder {
  color: var(--input-grey);
  font-weight: normal;
}
.social,
.footer-menu {
  list-style: none;
}
.paginator {
  margin: 45px 0 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin: 0 16px;
}
.pagination__item {
  margin: 0;
  padding: 0;
}
.pagination__item a {
  padding-top: 4px;
  display: block;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}
.pagination .active,
.pagination .active:hover,
.pagination .active:focus {
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}
.footer-nav {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
.accent {
  font-weight: bold;
}
.develop {
  font-size: 12px;
  font-weight: normal;
}
.feedback {
  display: none;
}
.cart {
  display: none;
}
.main-blank {
  display: flex;
  justify-content: center;
}
.main-blank h1 {
  margin: auto;
}
